:root {
	--result-row-color: #f6faff;
	--good-color: #ebf6e8;
	--bad-color: #ffefef;
	--section-color: #deeaee;
	--heading-color: #deeaee;
	--footer-color: #FDCC59;

	--section-margin: 0.2em;
	--row-padding: 1em;

	--border-radius: 0.4em;
}


/* BASICS / META */
@media screen (min-width: 400px) {
	html {
		font-size: 1.3em;
	}	
}

body
{
	font-family: helvetica;
	margin: 0;
	/*! background-color: #deeaee; */
}

form {
    max-width: 55em;
    margin-left: auto;
    margin-right: auto;
}


.table
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

h2 
{
  font-size: 1.3em;
  font-weight: bolder;
}

h3 {
  font-size: 1em;
  margin-top: .5em;
  margin-bottom: .5em;
}

.section {
  margin: var(--section-margin);
  margin-top: 2em;
  border: 0.1em solid black;
  border-radius: var(--border-radius);
  background-color: var(--section-color);
}

.first-section {
	margin-top: 0;
}

.table-heading
{
	margin-top: .5em;
	padding-left: calc(var(--section-margin) + 0.5*var(--row-padding));
	font-size: 2em;
	margin-bottom: .5em;
	padding-left: .1em;
}

.row
{
	min-height: 3em;
	display: flex;
	border-top: solid black .05em;
	justify-content: space-between;
	align-items: center;
	padding: .2em;
	padding-right: var(--row-padding);
	padding-left: var(--row-padding);
	background-color: white;
}

.row label {
  max-width: 65%;
}

.col-left
{
	padding-left: 10px;
}

.col-left > label { /*make checkboxes clickable from within the whole row*/
	display: flex;
	height: 100%;
	align-items: center;
}

.row-subhead {
	min-height: 2.35em;
}

.row-head
{
	background-color: var(--section-color);
	border-top: none;
	border-radius: var(--border-radius);
}

.row-subhead-bad {
  background-color: var(--bad-color);
}

.row-subhead-good {
  background-color: var(--good-color);
}

.row-result {
	border-top: 4px double black;
	border-radius: 0px 0px var(--border-radius) var(--border-radius);
	background-color: var(--result-row-color);
	padding-top: .8em;
	padding-bottom: .8em;
}


.row-result-grid {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  width: 16em;
}

.row-first-section-input {
		border-radius: var(--border-radius) var(--border-radius) 0 0;
		border-top: 0;
}

@media (max-width: 50em) {
	.row-result {
		flex-flow: column;
	}
}

.row-first-section-result {
	border-radius: 0px 0px var(--border-radius) var(--border-radius);
	padding-top: .8em;
	padding-bottom: .8em;
}


.row input,
.row select {
	height: 3em;
	width: 50%;
	font-size: 1em;
}

select
{
	width: 30%;
	height: 100%;
	font-size: 16px;
	text-align: center;
}

.row input[type=checkbox]
{
	height: 3em;
	width:3em
}

/* Make input same size as select */
input, select {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* Remove number input arrows Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  /* Firefox */
  -moz-appearance: textfield;
  text-align: center;
}

#row-basic-price {
  background-color: #f6faff;
  min-height: 1.3em;
}

.container-basic-price {
	width: 30%;
}


div.footer-margin
{
	margin-bottom: 1em;
}

.footer {
	position: sticky;
	bottom: 0;

	min-height: 3em;
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;
	padding: .1em;

	background-color: var(--footer-color);
}

.footer > p
{
	font-weight: bold;
}

div.description
{
	line-height: 1.5;
}

img
{
	margin: 20px 0px;
}
