:root
{

	--heading-color: #deeaee;
	--footer-color: #f6faff;
}

body
{
	font-family: helvetica;
}

.header
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: 0;
	padding: .5em;
	height: 3em;
	background-color: var(--heading-color);
	width: 100%
}

.header-margin
{
	margin-top: 5em;
}

h1
{
	position: absolute;
	top: 0;
}

iframe
{
	display: block;
	border: none;
	width: 100%;

	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.content
{
	line-height: 1.5;
	max-width: 55em;
	margin: 0 auto;
}

.footer
{
	position: absolute;
	left: 0;
	right: 0;
	margin: 100px 0;
	padding: 1em 8px;

	background-color: var(--footer-color)
}

.footer > p
{
	max-width: 55em;
	margin: 0 auto;
}
